<!-- views/deleteAccount.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/jquery.js" rel="stylesheet">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <link href="css/delete.css" rel="stylesheet"> <!-- Link to the stylesheet -->
    <title>Delete Account</title>
</head>

<body>
    <div class="container">
        <h1>Instruction for requesting Account deletion</h1>

        <p>To request account deletion, users may do it by going to <a href="https://smstransfert.fr/delete">delete account </a> page, if they already can login into the application else if the users lost their credentials; they may send an email to <a href = "sms.transfer.pipe@gmail.com?subject = Account deletion">
            sms.transfer.pipe@gmail.com
            </a>  from the email address that is valid or registered with the app account. The email should include all necessary details (email, username....)</p>
    </div>
</body>

</html>