<!DOCTYPE html>
<html lang="en">
    <!-- Bootstrap core CSS -->
<link href="/jquery.js" rel="stylesheet">
<link href="/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/about.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sms Pipe</title>
  <link rel="icon" type="image/png" href="css/gnu.png" />
</head>

<body>
  <header class="header" style="background-color: #36c5f0">
    <nav class="navbar navbar-light bg-light" style="width: 100%;">
      <div class="container-fluid" style="border: red">
        <a class="navbar-brand logo">Developer</a>
        <div>

        <span class="navbar-text logo"  style="display: inline-block; margin-right: 20px;">
          <%=username%>
       </span>
        <a href="api/auth/logout"  class="btn  btn-outline-primary" style="text-align: center; position:relative; display: inline-block;">logout</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="flash_class">
      <% if(success_msg != ''){ %>
        <div  class="alert alert-success alert-dismissible fade show m-4">
          <%= success_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <% } %>
        
      <% if(error_msg != ''){ %>
        <div  class="alert alert-danger alert-dismissible fade show m-4">
          <%= error_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <% } %>
    </div>
    <div class="intro">
      <h1>Sms pipe </h1>
      <p>Link your SMS Pipe application to Slack</p>
      <a href="slack/slackcode" style="align-items:center;color:#fff;background-color:#4A154B;border:0;border-radius:56px;display:inline-flex;font-family:Lato, sans-serif;font-size:18px;font-weight:600;height:56px;justify-content:center;text-decoration:none;width:276px"><svg xmlns="http://www.w3.org/2000/svg" style="height:24px;width:24px;margin-right:12px" viewBox="0 0 122.8 122.8"><path d="M25.8 77.6c0 7.1-5.8 12.9-12.9 12.9S0 84.7 0 77.6s5.8-12.9 12.9-12.9h12.9v12.9zm6.5 0c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9v32.3c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V77.6z" fill="#e01e5a"></path><path d="M45.2 25.8c-7.1 0-12.9-5.8-12.9-12.9S38.1 0 45.2 0s12.9 5.8 12.9 12.9v12.9H45.2zm0 6.5c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H12.9C5.8 58.1 0 52.3 0 45.2s5.8-12.9 12.9-12.9h32.3z" fill="#36c5f0"></path><path d="M97 45.2c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9-5.8 12.9-12.9 12.9H97V45.2zm-6.5 0c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V12.9C64.7 5.8 70.5 0 77.6 0s12.9 5.8 12.9 12.9v32.3z" fill="#2eb67d"></path><path d="M77.6 97c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9-12.9-5.8-12.9-12.9V97h12.9zm0-6.5c-7.1 0-12.9-5.8-12.9-12.9s5.8-12.9 12.9-12.9h32.3c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H77.6z" fill="#ecb22e"></path></svg>Add to Slack</a>
        <br>
      <button hidden>Learn More</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Project</p>
        <p class="work-text">I have worked on this project to allow users redirecting there received SMS to a slack Channel, 
          you need to install the app from Google Play.
          For now the application is disponible only for android users.
          click on this button to download it , or just search on Google play <a href=""> Sms Pipe</a></p>
      </div>
      <div class="work" hidden>
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Skills</p>
        <p class="work-text">I have a lot of skills and I am very good at them. I am very good at programming and I am always looking for new skills.</p>
      </div>
      <div class="work" hidden>
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Network</p>
        <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Me</h2>
        <p>I am a very curious developer, until now i'm a mobile android developer , i try to initiate my self also on web development too, always looking for new projects.</p>
      </div>
      <img src="css/gnu.png" alt="me"> </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; Authored by ghouas 2022</div>
    <div class="bottom-links">
      <div  class="links">
        <a href="https://www.linkedin.com/in/abdelhakghouas/"  target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Belak-Ghouas" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>