<!DOCTYPE html>
<html lang="en">
    <!-- Bootstrap core CSS -->
<link href="/jquery.js" rel="stylesheet">
<link href="/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/about.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sms Pipe</title>
  <link rel="icon" type="image/png" href="css/gnu.png" />
</head>

<body>
  <header class="header" style="background-color: #36c5f0">
    <nav class="navbar navbar-light bg-light" style="width: 100%;">
      <div class="container-fluid" style="border: red">
        <a class="navbar-brand logo" style="position: center ;text-align:center;display:block; "> Règles de confidentialité </a>
      </div>
    </nav>
  </header>
  <main>
   <h1 style="margin-left:10px ; margin-right: 10px;" >Privacy policy</h1>
   <br>
   <p style="margin-left:30px ; margin-right: 40px;">
    Sms Pipe is an application which takes the private nature of your personal information very seriously. 
    This Privacy Policy describes how we treat the information we collect when you visit and use the SMS Pipe application <a href="https://play.google.com/store/apps/details?id=com.sms.pipe">Sms Pipe</a> or our web <a href="https://sms-pipe-web.web.app/">site</a> and the services offered by Sms Pipe (the Site, Mobile Apps).
     Please read this Privacy Policy to learn more about the ways in which Sms Pipe uses and protects your personal information. By using the Service you acknowledge and agree to be bound by the terms and conditions of this Privacy Policy.
     If you do not agree to the terms, please do not use the Service or access our Site.

The SMS pipe Service is not intended for use by children. If you are under 18, you may use the Service only with involvement of a parent or guardian. We do not knowingly collect or solicit personal information from anyone under the age of 16. 
   </p>


   <h1 style="margin-left:10px ; margin-right: 10px; margin-top: 20px;" >information you provide</h1>
   <p style="margin-left:30px ; margin-right: 40px;">
    We receive and store any information you enter on the Service or provide to us in any other way. 
    You can choose not to provide us with certain information, though you may not be able to take advantage of many Service features.
    The personal information you provide may be used for such purposes as responding to your questions or requests, customizing the content you see, and communicating with you about new Service features.
     You agree that we may use your personal information to contact you as provided herein, though our intent is that email is the only channel we will use to contact you without your consent.
    <br>
    Also, once you install any Mobile Apps and enable specific Platform Services, you may be providing us with additional information, such as SMS received  on your device to take advantage of the service. 
    Additionally, we may collect information about your location and calendar in order to provide you with more personalized Service.
     Again, you can choose not to provide us with certain information, though you may not be able to take advantage of many Service features.
     In order for you to take full advantage of the Service, you must provide registration information, including an e-mail address and password. 
     We may also request demographic information and unique identifiers in order to provide you with a more personalized service, but this information is optional.
      Once you register for the Service, create Applets, and/or give us your personal information, you are not anonymous to us. 
      Usernames and links to public accounts are only shown on your profile with your consent.
       You always have the option to not provide information by choosing not to register for the Service or create any Applets. 
       Our primary purpose in collecting personal information is to provide you with a safe, smooth, and efficient experience. We only collect personal information about you that we consider necessary for achieving this purpose.
        SMS Pipe does not sell or rent your personal information to third parties without your explicit consent.
        <br>
        Some third parties, such as service providers, provide us with Personal Data about you, such as the following:
        <ul>
            <li>
                Account information for third party Platform Services: If you interact with a third party Platform Service when using our Service, such as if you use a third party service to log-in to our Service (e.g., Facebook Login or Google Sign-In), or if you share content from our Service through a third party social media Platform Service, 
                the third party service will send us information about you, such as information from your public profile, if the third party service and your account settings allow such sharing.
                The information we receive will depend on the policies and your account settings with the third party service.
            </li>

            <li>
                Information we automatically collect when you use our Service: Some Personal Data is automatically collected when you use our Service.
            </li>
        </ul>

        We process Personal Data to operate, improve, understand and personalize our Service. For example, we use Personal Data to:
        <ul>
            <li>
                Create and manage user profiles.
            </li>
            <li>
                Communicate with you about the Service, updates or offers.
            </li>
            <li>
                Provide support and assistance for the Service.
            </li>
            <li>

                Personalize website content and communications based on.
            </li>
        </ul>
    
        
    
    </p>
  </main>
  <footer class="footer">
    <div class="copy">&copy; Authored by ghouas 2022</div>
    <div class="bottom-links">
      <div  class="links">
        <a href="https://www.linkedin.com/in/abdelhakghouas/"  target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Belak-Ghouas" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>
